<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Cliente Habitual Web</title>
</head>
<body>
	<h1>Comercios cadastrados</h1>
	<div id="cabecalho" class="page-header" th:fragment="cabecalho">
		<header>
			<div class="container">
				<h1>Spring security</h1>
			</div>
		</header>
	</div>
	<table>
		<td>
			<a href="/cadastrarCliente" class="waves-effect waves-light btn"><i
			class="material-icons left">add_circle_outline</i>Cadastro de Clientes</a>
		</td>
		<td>
			<a href="/cadastrarComercio" class="waves-effect waves-light btn"><i
			class="material-icons left">add_circle_outline</i>Cadastro de Comercio</a>
		</td>
	</table>
	<table class="container">
		<thead>
			<th>Nome</th>
		</thead>
		<tr th:each="comercio : ${comercio}">
			<td><span th:text="${comercio.nome}"></span></td>
		</tr>
	</table>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>